* {
    margin: 0;
}
#image1 {
    background: url(imagens/background001.jpg) black no-repeat center center / cover fixed;
}
#image2 {
    background: url(imagens/background002.jpg) black no-repeat center center / cover fixed;
}
#image1 > p, #image2 > p {
    background-color: #00000055;
    color: white;
    display: inline-block;

    border-radius: 10px;
}
#image1, #image2 {
    padding: 4vh 6vw;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
}
header, footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
    font-size: 2vw;
}
header > h1 {
    font-family: "Passion One", cursive;
    font-variant: small-caps;
    font-size: 8vw;
}

section {
    font-family: "Sriracha", cursive;
    font-size: 3.5vw;
}
section > p {
    padding: 4vh 6vw;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition-duration: .2s;
}
a:hover {
    transition-duration: .2s;
    padding: .5em;
    background-color: rgba(129, 129, 129, 0.274);
    border-radius: 10px;
    font-size: 2.2vw;
}
a:active {
    background-color: rgba(129, 129, 129, 0.479);
    padding: 0;
    font-size: 2vw;
}